---
layout: default
---

<!-- Home start -->

<section id="home" class="module-image js-height-full">

	<div class="intro">
		<center>
			<img class="logo--medium" src="/empojuvelapaz/assets/images/logo.png">
			<h1>EmpoJuve La Paz</h1>
			<div class="who-creates">Luchando a favor de la paz, la equidad y la justicia social y ambiental.</div>
		</center>
	</div>

	<div class="mouse-icon">
		<div class="wheel"></div>
	</div>

</section>

<!-- Home end -->

<!-- Navigation start -->

<header class="header">

	<nav class="navbar navbar-custom">

		<div class="container">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
					<span>Menu</span>
				</button>
				<a class="navbar-brand" href="/index.html">
					<img class="logo--small" src="/empojuvelapaz/assets/images/icon-simple.png">
				</a>
			</div>

			<div class="collapse navbar-collapse" id="custom-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#home">Home</a></li>
					<li><a href="/blog.html">Blog</a></li>
				</ul>
			</div>

		</div><!-- .container -->

	</nav>

</header>

<!-- Navigation end -->


<!-- Blog start -->

<section id="blog" class="module blog module-gray">
	<div class="container">

		<div class="module-header">
			<h2 class="module-title">Articulos
				<span>Blog</span>
			</h2>
			<div class="module-line"></div>
		</div>

		<div class="row">

			{% for post in site.posts limit:3 %}
			<div class="col-sm-4">
				<a href="{{site.baseurl}}{{post.url}}" class="blogList wow fadeInUp">
					<div class="blogList-img">
						{% if post.banner_image %}
						<img src="{{site.baseurl}}{{ "/assets/images/post/" | append: post.banner_image | prepend: site.baseurl }}" alt="Blog Desc">
						{% endif %}
						{% if post.category %}
						<span>{{post.category}}</span>
						{% endif %}
					</div>
					<div class="blogList-desc">
						<h3>{{post.title}}</h3>
						<div>{{post.description}}</div>
					</div>
				</a>
			</div>
			{% endfor %}

			<div class="col-sm-12">
				<a class="blog-viewMore" href="{{site.baseurl}}blog.html">Ver más</a>
			</div>

		</div><!-- .row -->
	</div><!-- .container -->
</section>

<!-- Blog end -->

<!-- Values start -->

<section id="about" class="module text-center">
	<div class="container">

		<div class="module-header wow fadeInUp">
			<h2 class="module-title">
				Sobre nosotros
				<span>Nosotros</span>
			</h2>
			<div class="module-line"></div>
		</div>

		<div class="row">

			<div class="col-sm-8 col-sm-offset-2">
				<p>
					<p>Empoderando Juventudes es una organización que tiene la firme convicción de impulsar a las juventudes latinoamericanas a luchar de forma activa y cooperativa a favor de la paz, la equidad y la justicia social y ambiental en nuestras comunidades y nuestra región a través de proyectos, actividades donde se combina y fortalece conocimientos, habilidades, sueños y luchas.</p>
				</p>
			</div>

		</div><!-- .row -->
	</div><!-- .container -->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<a class="blog-viewMore" href="https://www.empojuve.org/">Saber más</a>
			</div>
		</div><!-- .row -->
	</div><!-- .container -->
</section>

<!-- Values end -->
